affine==2.4.0
aiohttp==3.8.6
aiosignal==1.3.1
analytics-python==1.4.post1
anytree==2.8.0
arviz==0.17.0
asn1crypto==1.5.1
async-timeout==4.0.3
audioread==3.0.1
backoff==1.10.0
basemap==1.3.9
basemap-data==1.3.2
bcrypt==4.1.2
blis==0.7.11
blosc2==2.0.0
branca==0.7.1
cachetools==5.3.2
cairosvg==2.5.2
catalogue==2.0.10
cftime==1.6.3
chardet==3.0.4
click-plugins==1.1.1
cligj==0.7.2
cmake==3.28.3
confection==0.1.4
countryinfo==0.1.2
cssselect2==0.7.0
cymem==2.0.8
databricks-sql-connector==0.9.1
dlib==19.24.2
dnspython==2.6.1
docx2txt==0.8
einops==0.3.2
email-validator==2.1.0.post1
exceptiongroup==1.2.0
exchange-calendars==3.4
faker==8.13.2
fastapi==0.95.2
fastjsonschema==2.19.1
fastprogress==1.0.3
ffmpeg-python==0.2.0
ffmpy==0.3.2
fiona==1.9.2
flask==3.0.2
flask-cachebuster==1.0.0
flask-cors==4.0.0
flask-login==0.6.3
folium==0.12.1
fpdf==1.7.2
frozenlist==1.4.1
fuzzywuzzy==0.18.0
gensim==4.3.1
geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
gradio==2.2.15
graphviz==0.17
gtts==2.2.3
h11==0.14.0
h2==4.1.0
h5netcdf==1.3.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
hypercorn==0.14.3
hyperframe==6.0.1
imageio-ffmpeg==0.4.9
imgkit==1.2.2
importlib-resources==6.1.1
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.1.2
jax==0.2.28
jsonpickle==3.0.3
jsonschema-specifications==2023.12.1
keras==2.6.0
kerykeion==2.1.16
korean-lunar-calendar==0.3.1
langcodes==3.3.0
lazy-loader==0.3
lit==17.0.6
loguru==0.5.3
lxml==5.1.0
markdown2==2.4.12
matplotlib==3.6.3
matplotlib-venn==0.11.6
mizani==0.10.0
mne==0.23.4
monotonic==1.6
moviepy==1.0.3
msgpack==1.0.7
mtcnn==0.1.1
multidict==6.0.5
munch==4.0.0
murmurhash==1.0.10
mutagen==1.45.1
nashpy==0.0.35
netcdf4==1.6.5
nltk==3.6.3
numpy-financial==1.0.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
odfpy==1.4.1
opencv-python==4.5.5.62
opt-einsum==3.3.0
orjson==3.9.15
oscrypto==1.3.0
paramiko==3.4.0
pathlib-abc==0.1.1
pathy==0.11.0
pdf2image==1.16.3
pdfkit==0.6.1
pdfminer-six==20220319
pdfplumber==0.6.2
pdfrw==0.4
plotly==5.3.0
plotnine==0.10.1
preshed==3.0.9
priority==2.0.0
proglog==0.1.10
prometheus-client==0.20.0
py==1.11.0
pycountry==20.7.3
pycryptodome==3.20.0
pydantic==1.10.2
pydot==1.4.2
pydub==0.25.1
pydyf==0.8.0
pygraphviz==1.7
pylog==1.1
pyluach==2.2.0
pymc==4.0.1
pymupdf==1.21.1
pynacl==1.5.0
pypandoc==1.6.3
pypdf2==1.28.6
pyphen==0.14.0
pyproj==3.6.1
pyprover==0.5.6
pyshp==2.3.1
pyswisseph==2.10.3.2
pytesseract==0.3.8
pytest==6.2.5
pyth3==0.7
python-docx==0.8.11
python-dotenv==1.0.1
python-multipart==0.0.9
python-pptx==0.6.21
pyxlsb==1.0.8
pyzbar==0.1.8
qrcode==7.3
rarfile==4
rasterio==1.3.3
rdflib==6.0.0
referencing==0.33.0
regex==2023.12.25
reportlab==3.6.12
rpds-py==0.18.0
sentencepiece==0.2.0
shap==0.39.0
shapely==1.7.1
slicer==0.0.7
smart-open==6.4.0
snowflake-connector-python==2.7.12
snuggs==1.4.7
soundfile==0.10.2
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
starlette==0.27.0
svglib==1.1.0
svgwrite==1.4.1
tabula==1.0.5
tabulate==0.8.9
tenacity==8.2.3
text-unidecode==1.3
textblob==0.15.3
thinc==8.1.12
thrift==0.16.0
toml==0.10.2
torch==2.0.1
torchaudio==2.0.2
torchtext==0.6.0
torchvision==0.15.2
trimesh==3.9.29
triton==2.0.0
typer==0.7.0
ujson==5.9.0
uvicorn==0.19.0
uvloop==0.19.0
wand==0.6.13
wasabi==0.10.1
watchfiles==0.21.0
weasyprint==53.3
websockets==10.3
werkzeug==3.0.1
wordcloud==1.9.2
wsproto==1.2.0
xarray==2024.2.0
xarray-einstats==0.7.0
xgboost==1.4.2
xlsxwriter==3.2.0
xml-python==0.4.3
yarl==1.9.4
zopfli==0.2.3
