async-lru==2.0.2
backports.functools_lru_cache==1.6.4
boltons==23.0.0
gitdb==4.0.10
gitpython==3.1.31
jsonpatch==1.32
jsonpointer==2
jupyter-lsp==2.1.0
jupyter-server-mathjax==0.2.6
jupyterlab-git==0.41.0
libllvm14==14.0.6
librosa==0.8.1
libnuma==2.0.16
nbdime==3.2.1
numba>=0.43.0
overrides==7.3.1
py-cpuinfo==9.0.0
python-tzdata==2023.3
rdma-core==28.9
resampy==0.4.2
smmap==3.0.5
typing_utils==0.1.0
ucx==1.14.1
xyzservices==2023.5.0
camelot-py==0.10.1
markdownify==0.11.6
minikanren==1.0.3
brotli>=1.0.1
